
label {
    display: block;
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.send-tincion {
    background-color: #004173;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.send-tincion:hover {
    background-color: var(--color-primario);
}



